.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #ff9933;
    background-color: transparent;
    border-color: #9ea6b0;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #ff9933;
    background-color: transparent;
    border-color: #ff9933;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.privew {
    margin-bottom: 20px;
}

.questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 3px;
    margin: 0 10px;
}

.questions {
    background: #007fbe;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}

.questions:after {
    background: url(../img/icon.png) no-repeat left 0;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}

.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}

.questions:before,
.questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}

.answerList {
    margin-bottom: 15px;
}

ol,
ul {
    list-style: none;
}

.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}

.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}

.button,
.greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}

.questionsRow span {
    float: right;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}

.correct-ans {
    background: #05ab40;
    color: #fff;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 15px;
}

.wrong-ans {
    background: #f34807;
    color: #fff;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 15px;
}

.tbl-header {
    background-color: #D98938;
    color: #fff;
}

.btn-link {
    color: #D98938
}

.btn-link:hover {
    color: #c3772a !important;
}

.sidebar .nav-link:hover {
    color: #fff;
    background: #D98938;
}

.sidebar .nav-link.active .nav-icon {
    color: #c3772a !important;
}

.bg-default {
    background: #ef78008c !important;
}

.testBtn-blue {
    color: #fff;
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
    border: none;
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 700;
    /* font-size: 19px; */
    /* margin: 15px 35px; */
    padding: 12px 14px;
    /* min-width: 201px; */
    border-radius: 50px;
    /* min-height: 55px; */
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
}

.testBtn-blue:hover {
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75) !important;
    color: #fff;
}

.courseBtn-red {
    color: #fff;
    background: linear-gradient(45deg, #f2a71d, #c84a0e);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
    border: none;
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 700;
    /* font-size: 19px; */
    /* margin: 15px 35px; */
    padding: 12px 14px;
    /* min-width: 201px; */
    border-radius: 50px;
    /* min-height: 55px; */
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
}

.courseBtn-red:hover {
    box-shadow: 0px 7px 30px rgba(199, 120, 21, 0.75) !important;
    color: #fff;
}

.card-custom-css {
    box-shadow: 0px 3px 8px 1px rgba(13, 28, 39, 0.6);
}