.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #ff9933;
    background-color: transparent;
    border-color: #9ea6b0;
    font-weight: bold;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #ff9933;
    background-color: transparent;
    border-color: #ff9933;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.privew {
    margin-bottom: 20px;
}

.questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 3px;
    margin: 0 10px;
}

.questions {
    background: #D98938;
    color: #FFF;
    font-size: 28px;
    padding: 8px 30px;
    font-weight: bold;
    margin: 0 -30px 10px;
    position: relative;
}

.questions:after {
    background: url(../img/icon.png) no-repeat left 0;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}

.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}

.questions:before,
.questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}

.answerList {
    margin-bottom: 15px;
}

ol,
ul {
    list-style: none;
}

.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}

.answerList li span {
    font-size: 18px;
    margin-left: 5px;
}

.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}

.button,
.greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}

.questionsRow span {
    float: right;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}

.correct-ans {
    background: #05ab40;
    color: #fff;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 15px;
}

.wrong-ans {
    background: #f34807;
    color: #fff;
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 15px;
}

.tbl-header {
    background-color: #D98938;
    color: #fff;
}

.btn-link {
    color: #D98938
}

.btn-link:hover {
    color: #c3772a !important;
}

.sidebar .nav-link:hover {
    color: #fff;
    background: #D98938;
}

.sidebar .nav-link.active .nav-icon {
    color: #c3772a !important;
}

.bg-default {
    background: #ef78008c !important;
}

.testBtn-blue {
    color: #fff;
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
    border: none;
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 700;
    /* font-size: 19px; */
    /* margin: 15px 35px; */
    padding: 12px 14px;
    /* min-width: 201px; */
    border-radius: 50px;
    /* min-height: 55px; */
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
}

.testBtn-blue:hover {
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75) !important;
    color: #fff;
}

.courseBtn-red {
    color: #fff;
    background: linear-gradient(45deg, #f2a71d, #c84a0e);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
    border: none;
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 700;
    /* font-size: 19px; */
    /* margin: 15px 35px; */
    padding: 12px 14px;
    /* min-width: 201px; */
    border-radius: 50px;
    /* min-height: 55px; */
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
}

.courseBtn-red:hover {
    box-shadow: 0px 7px 30px rgba(199, 120, 21, 0.75) !important;
    color: #fff;
}

.card-custom-css {
    box-shadow: 0px 3px 8px 1px rgba(13, 28, 39, 0.6);
}

.headingBox {
    background: #d989384a;
    margin: 0;
    background: linear-gradient(140deg, #a55401 15%, #f9f2eb);
    color: #fff;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 15px;
    box-shadow: 0px 7px 4px 0px rgba(48, 50, 50, 0.26);
}

.pagination>li>a,
.pagination>li>span {
    color: #CB520F;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #CB520F;
    border-color: #CB520F;
}

.page-item.active .page-link {
    background-color: #CB520F;
    border-color: #CB520F;
}

.page-link:hover {
    color: #CB520F;
}

.exam-score {
    background: #fff;
    box-shadow: 0 25px 75px rgba(16, 30, 54, .25);
    border-radius: 6px;
    padding: 30px 60px 26px;
}

.accordion {
    margin: 0 auto;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.accordion-header {
    padding: 1.5em 1.5em;
    color: white;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
}

.accordion__item {
    border-bottom: 1px solid #adadaf;
}

.accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
    background: #D98938;
    position: relative;
    z-index: 5;
}

.accordion-body {
    background: #fcfcfc;
    color: #353535;
    display: none;
}

.accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
    border-radius: none;
}

.accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item>.accordion-header:after {
    content: "\25be";
    font-size: 2.6em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
}

.accordion__item.active>.accordion-header:after {
    transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
    background: #D98938;
}

.accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
}

@media screen and (max-width: 1000px) {
    .accordion {
        width: 100%;
    }
}

#scrlbutton {
    display: block;
    background-color: #1d1c1a;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 1;
    z-index: 1000;
}

#scrlbutton::after {
    content: "\f063";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#scrlbutton:hover {
    cursor: pointer;
    background-color: #333;
}

#scrlbutton:active {
    background-color: #555;
}

#scrlbutton.show {
    opacity: 1;
    visibility: visible;
}